.itemcartcard:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 120%;
}

@media screen and (max-width: 576px) and (min-width: 401px) {
  img {
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 400) {
  img {
    height: 150px;
    width: 150px;
  }
}
